<h1>Профиль пользователя <%= @profile.user.name %></h1>
<p>
  <strong>Страна:</strong> <%= @profile.country&.name %>
</p>
<p>
  <strong>Описание:</strong> <%= @profile.biography %>
</p>
<%= button_to 'Изменить', edit_profile_path(@profile), method: :get, form: { class: 'inline-button' } %>
<%= button_to 'Назад', profiles_path, method: :get, form: { class: 'inline-button' } %>
