<h1>Страны</h1>
<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= button_to 'Показать', country, method: :get, form: { class: 'inline-button' } %></td>
        <td><%= button_to 'Изменить', edit_country_path(country), method: :get, form: { class: 'inline-button' } %></td>
        <td><%= button_to 'Удалить', country, method: :delete, data: { confirm: 'Are you sure?' }, form: { class: 'inline-button' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= button_to 'Добавить страну', new_country_path, method: :get, form: { class: 'inline-button' } %>
