<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id, "Автор" %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Выберите автора" %>
  </div>

  <div class="field">
    <%= form.label :title, "Название" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, "Содержимое" %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Категория" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Выберите категорию" %>
  </div>

  <div class="field">
    <%= form.label :status_id, "Статус" %>
    <%= form.collection_select :status_id, Status.all, :id, :name, prompt: "Выберите статус" %>
  </div>

  <div class="field">
    <%= form.label :tag_ids, "Тэги" %>
    <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
