<h1><%= @post.title %></h1>

<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category&.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status&.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags.map(&:name).join(", ") %>
</p>

<%= button_to 'Edit', edit_post_path(@post), method: :get, form: { class: 'inline-button' } %>
<%= button_to 'Back', posts_path, method: :get, form: { class: 'inline-button' } %>
