<h1><%= @post.title %></h1>

<p>
  <strong>Автор:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @post.category&.name %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @post.status&.name %>
</p>

<p>
  <strong>Содержимое:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Тэги:</strong>
  <%= @post.tags.map(&:name).join(", ") %>
</p>

<%= button_to 'Изменить', edit_post_path(@post), method: :get, form: { class: 'inline-button' } %>
<%= button_to 'Назад', posts_path, method: :get, form: { class: 'inline-button' } %>
