<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%# For Rails 7 with Import Maps. If you are using Webpacker (Rails 6), replace with javascript_pack_tag accordingly %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= button_to 'Home', root_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Posts', posts_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Roles', roles_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Countries', countries_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Profiles', profiles_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Comments', comments_path, method: :get, form: { class: 'nav-button' } %>
    </nav>

    <%= yield %>
  </body>
</html>
