<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'NNTU.png', rel: 'icon', type: 'image/png' %>
    <title>Sharkfin by ChausovND</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%# For Rails 7 with Import Maps. If you are using Webpacker (Rails 6), replace with javascript_pack_tag accordingly %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= button_to 'Посты', posts_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Роли', roles_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Страны', countries_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Профили', profiles_path, method: :get, form: { class: 'nav-button' } %>
      <%= button_to 'Комментарии', comments_path, method: :get, form: { class: 'nav-button' } %>
    </nav>

    <%= yield %>
  </body>
</html>
